##**Hospital Beds in England Over Time**

####**Loading in the datasets and data overview**

In [89]:
# import pandas lib as pd
import pandas as pd

# read by default 1st sheet of an excel file
df1 = pd.read_excel('/content/Beds-Timeseries-1987-88-to-2009-10.xls')
df2 = pd.read_excel('/content/Beds-Timeseries-2010-11-to-2020-21.xls')

####**Dataset Description / Overview**

***Dataframe 1***

In [90]:
#df1.shape

#df1.info()

#df1.describe()

df1.head()

,Year,Day_or_night,Total,General_and_Acute,Acute,Geriatric,Mental_Illness,Learning_Disabilities,Maternity
0,1987-88,Overnight,297364.000000,180889.000000,127616.000000,53273.000000,67122.000000,33421.000000,15932.000000
1,1988-89,Overnight,282918.000000,174491.000000,123450.000000,51041.000000,63012.000000,30048.000000,15367.000000
2,1989-90,Overnight,270300.897715,169901.126107,121169.770302,48731.355805,59287.835410,26406.201809,14705.734389
3,1990-91,Overnight,255478.975342,162690.632877,116788.380822,45902.252055,55238.961644,23379.372603,14170.008219
4,1991-92,Overnight,242676.850000,157246.670000,115139.680000,42106.990000,50277.640000,21382.500000,13770.040000

***Dataframe 2***

In [91]:
#df2.shape

#df2.info()

#df2.describe()

df2.head()

,Year,Day_or_night,Period,Total,General_and_Acute,Learning_Disabilities,Maternity,Mental_Illness,Unnamed: 8,Unnamed: 9
0,2010/11,Day,Q1,11783.438462,11571.607692,0.0,208.973626,2.857143,2010/11,Q1
1,2010/11,Day,Q2,10989.728261,10888.097826,0.0,98.695652,2.934783,NaN,Q2
2,2010/11,Day,Q3,10915.641304,10785.217391,0.0,127.173913,3.250000,NaN,Q3
3,2010/11,Day,Q4,11328.444444,11223.500000,0.0,101.944444,3.000000,NaN,Q4
4,2011/12,Day,Q1,10692.483516,10588.923077,0.0,100.417582,3.142857,2011/12,Q1

###**Data Cleaning**

First step is to clean up the column names for both dataframes

In [92]:
# create a dictionary mapping old column names to new column names for df1 and df2
new_names1 = {col: col.rstrip() for col in df1.columns}
new_names2 = {col: col.rstrip() for col in df2.columns}

# rename columns using the dictionary
df1 = df1.rename(columns=new_names1)
df2 = df2.rename(columns=new_names2)

For the rest of the data cleaning I am going to work on dataframe 1 and dataframe 2 separately due to their different structure and not all variables matching.

####**Dataframe 1 - df1**

***Check for nulls***

In [93]:
def nulls_breakdown(df1=df1):
    df1_cols = list(df1.columns)
    cols_total_count = len(list(df1.columns))
    cols_count = 0
    for loc, col in enumerate(df1_cols):
        null_count = df1[col].isnull().sum()
        total_count = df1[col].isnull().count()
        percent_null = round(null_count/total_count*100, 2)
        if null_count > 0:
            cols_count += 1
            print('[iloc = {}] {} has {} null values: {}% null'.format(loc, col, null_count, percent_null))
    cols_percent_null = round(cols_count/cols_total_count*100, 2)
    print('Out of {} total columns, {} contain null values; {}% columns contain null values.'.format(cols_total_count, cols_count, cols_percent_null))
  
nulls_breakdown()

[iloc = 3] General_and_Acute has 23 null values: 50.0% null
[iloc = 4] Acute has 23 null values: 50.0% null
[iloc = 5] Geriatric has 23 null values: 50.0% null
[iloc = 6] Mental_Illness has 23 null values: 50.0% null
[iloc = 7] Learning_Disabilities has 23 null values: 50.0% null
[iloc = 8] Maternity has 23 null values: 50.0% null
Out of 9 total columns, 6 contain null values; 66.67% columns contain null values.

Dataframe 1 nulls are explained by missing values for specialties breakdown for day beds. Specialties breakdown (general and acute, acute, geriatric, mental illness, learning disabilities and maternity) of figures is only available for overnight beds. This means that we will not be able to use the specialties breakdown figures for a time series analysis from 1987/88 to 2020/21 as we only have them available for half of the data from 1987/88 to 2009/10 (overnight beds).

***Dealing with the missing values***

As mentioned above, we are not able to use the specialties breakdown figures therefore we will remove these from dataframe 1.

In [94]:
df1 = df1[['Year','Total','Day_or_night']]

####**Dataframe 2 - df2**

***Matching columns for df1 and df2***

There are also specialty breakdown columns in dataframe 2 - as we don't have these columns for the day beds in dataframe 1 we won't be able to use them for the analysis of day and overnight beds from 1987/88 - 2020/21. Therefore for this simple analysis I will remove these columns in df2 also.

In [95]:
df2 = df2[['Year','Total','Day_or_night', 'Period']]

**Check for nulls**

In [96]:
def nulls_breakdown(df2=df2):
    df2_cols = list(df2.columns)
    cols_total_count = len(list(df2.columns))
    cols_count = 0
    for loc, col in enumerate(df2_cols):
        null_count = df2[col].isnull().sum()
        total_count = df2[col].isnull().count()
        percent_null = round(null_count/total_count*100, 2)
        if null_count > 0:
            cols_count += 1
            print('[iloc = {}] {} has {} null values: {}% null'.format(loc, col, null_count, percent_null))
    cols_percent_null = round(cols_count/cols_total_count*100, 2)
    print('Out of {} total columns, {} contain null values; {}% columns contain null values.'.format(cols_total_count, cols_count, cols_percent_null))
  
nulls_breakdown()

Out of 4 total columns, 0 contain null values; 0.0% columns contain null values.

No nulls in dataframe 2 therefore no action needed.

### **Manipulating the data to get it in the right format**

The data for both dataframe 1 and dataframe 2 need to be manipulated to get them both in the right format. To  be able to plot a chart to show how the number of hospital beds have changed over time there are 2 important columns needed: 'Year' and 'Total' (Number of beds Available).

***What needs to be done***

**Dataframe 1:** The beds available for day and overnight need to be summed to create a 'Total' column.

**Dataframe 2:** The beds available for day and overnight need to be summed to create total across the whole 24 hours, and the beds for each quarter also need to be summed to create 'Total' for each year.

**Dataframe 1**

In [97]:
#pivot df1 to find the sum of day and night
pivot_df1 = pd.pivot_table(df1, values='Total', index=['Year'], columns=['Day_or_night'], aggfunc=sum)

#add new column for the sum of day and overnight - and then keep just Year and Total
pivot_df1['Total'] = pivot_df1.sum(axis=1)

# reset the index to get the year and day_or_night as columns and then keep only Year and Total columns
result = pivot_df1.reset_index()
df1 = result[['Year','Total']]

df1

Day_or_night     Year          Total
0             1987-88  299364.000000
1             1988-89  285391.000000
2             1989-90  273161.897715
3             1990-91  258546.841096
4             1991-92  246076.336339
5             1992-93  236173.323288
6             1993-94  224383.717808
7             1994-95  217511.652055
8             1995-96  212676.893443
9             1996-97  205614.441096
10            1997-98  200750.660274
11            1998-99  197574.071233
12            1999-00  194227.816940
13            2000-01  194246.000000
14            2001-02  192906.942466
15            2002-03  192369.564384
16            2003-04  192832.051913
17            2004-05  190126.356164
18            2005-06  185161.958904
19            2006-07  177361.161644
20            2007-08  171369.917760
21            2008-09  171213.123288
22            2009-10  169682.035616

**Dataframe 2**

In [98]:
#pivot df2 to find the sum of day and night
# create a pivot table to sum the total by year and period
pivot_df2 = pd.pivot_table(df2, values='Total', index=['Year', 'Period'], columns=['Day_or_night'], aggfunc=sum)

# add a column for the sum of day and overnight
pivot_df2['Sum'] = pivot_df2.sum(axis=1)

#pivot the Period
pivot_df2 = pd.pivot_table(pivot_df2, values='Sum', index=['Year'], columns=['Period'], aggfunc=sum)

# add a column for the average over the 4 quarters for each year
pivot_df2['Total'] = pivot_df2.mean(axis=1)

# reset the index to get the year and day_or_night as columns and then keep only Year and Total columns
result = pivot_df2.reset_index()
df2 = result[['Year','Total']]

df2

Period     Year          Total
0       2010/11  153724.582762
1       2011/12  149869.839821
2       2012/13  148515.238634
3       2013/14  147904.597859
4       2014/15  147778.834850
5       2015/16  143627.897407
6       2016/17  143465.823198
7       2017/18  141659.652220
8       2018/19  140963.742558
9       2019/20  140977.714256
10      2020/21  131795.048241

Now that we have both dataframes in the same format with the desired fields we can concatenate them

**Concatenate both Dataframes**

In [99]:
#col names for df1 and df2
cols1 = set(df1.columns)
cols2 = set(df2.columns)

#find similar column names
similar_cols = cols1.intersection(cols2)

#We only want similar columns from each
df1 = df1[list(similar_cols)]
df2 = df2[list(similar_cols)]

#Union the two datasets with matching columns (concat)
df = pd.concat([df1, df2])

Final step is to ensure all dates have the same format.

In [100]:
#Ensure all dates have the same format
df['Year'] = df['Year'].str.replace('-', '/')

###**Interactive chart to present the data over time**

In the chart below you can clearly see that the number of hospital beds in England has decreased gradually over time year on year. It can be seen clearly that the number of hospital beds in England has more than halved during this time period.

In [101]:
#@title
#Import plotly
import plotly.express as px

#Create the line chart
fig = px.line(x=df.Year, y= df.Total)

#MAke changes to the layout including: Add titles and axis labels
title = 'Number of Hospital Beds in England Over Time'
subtitle = 'The number of hospital beds in England has more than halved over the past 30 years'
fig.update_layout(
    title ={
        'text' : f'<b>{title}</b><br><sub>{subtitle}</sub>',
        'y': 0.97, # set the vertical position of the title and subtitle
        'yanchor': 'top' # align the title and subtitle to the top of the chart
    },
    xaxis_title = 'Year',
    yaxis_title = 'Number of Beds Available',
    font = dict(size = 14),
    height = 700,
    template = 'seaborn' #"plotly", "plotly_white", "plotly_dark", "ggplot2", "seaborn", "simple_white", "none"
    ,hovermode = 'x',
    xaxis=dict(
        tickmode='array',
        tickangle=315,
        showgrid= False,
        tickvals=df['Year'],
        ticktext=[str(year) for year in df['Year']],
        tickfont=dict(size=12, color='black'),
        mirror=False,
    ),
    yaxis=dict(
        tickfont=dict(size=12, color='black'),
        mirror=False,
    ) 
)

#Add a slides for the dates
fig.update_xaxes(rangeslider_visible=True)

#Set max y value
fig.update_yaxes(range=[0, 305000])

#Amend the tooltip text
fig.update_traces(
    mode='markers+lines', 
    hovertemplate='<br>%{x}<br>Number of Beds Available: %{y:,.0f}<extra></extra>'
)

#Show plot
fig.show()